<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <a href="/items/new?menu_id=<%= @menu.id %>" class="links">+ Add an item</a><br>
  
  <%= f.fields_for :items do |builder| %>
    <fieldset>
      <%= builder.label :name, "Item" %>
      <%= builder.text_field :name %><br>
      <%= builder.label :name, "Price" %>
      <%= builder.text_field :price %><br>
      <%= builder.hidden_field :_destroy %>
      <%= link_to 'remove', builder.object, method: :delete, data: { confirm: 'Are you sure?' } %>
    </fieldset>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
