<!DOCTYPE html>
<html>
<head>
  <title>POS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '//getbootstrap.com/dist/css/bootstrap.min.css' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://localhost:3000/">Home</a></li>
          <li><a href="/orders">Order</a></li>
          <li><a href="/menus">Settings</a></li>
            </ul>
          </li>
        </ul>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <div class="container-fluid">
    <div class="row">
       <div class="col-md-10 col-md-offset-1 col-xs-12"><%= yield %></div>
    </div>
  </div>

</body>
</html>
